<% @posts.each do |post| %>
<div class="card" style="width: 36rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= (User.find(post.user_id)).name %></h6>
    <p class="text-muted">at <%= post.created_at.to_date > Time.now.to_date ? post.created_at.to_fs(:rfc822) : post.created_at.to_fs(:time) %></p>
    <p class="card-text"><%= post.body %></p>


  </div>
  <%= link_to "Comments (#{post.comments.count})", post_path(post.id), class: "card-link" %>
  Likes (<%= post.likes.count %> )
  <% if post.likes.where(:user_id => current_user.id).empty? %>
      <%= form_tag likes_path do %>
        <%= hidden_field_tag :post_id, post.id %>
        <%= submit_tag 'Like' %>
      <% end %>
  <% else %>
  <%= form_tag like_path(post.likes.where(:user_id => current_user.id)[0].id), method: :delete do %>
    <%= hidden_field_tag :post_id, post.id %>
    <%= submit_tag 'Unlike' %>
  <% end %>
 <% end %>
</div>

<% end %>
