<div class="card comments" data-controller="comments" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= (User.find(@post.user_id)).name %></h6>
    <p class="text-muted">at <%= @post.created_at.to_date > Time.now.to_date ? @post.created_at.to_fs(:rfc822) : @post.created_at.to_fs(:time) %></p>
    <p class="card-text"><%= @post.body %></p>
  </div>

  <div data-target="comments.commentList">
      <h5>Comments (<%= @post.comments.count %>)</h5>
      <% @post.comments.each do |comment| %>
          <%= render partial: 'comments/show', locals: { comment: comment } %>
      <% end %>
  </div>
  <div>
      <%= render partial: 'comments/form' %>
  </div>
</div>
