<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to 'Yourbook', root_path, class: 'navbar text-white navbar-brand nav-link-active'%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class:'nav-link sr-only text-white' %>
        </li>
        <li class="nav-item active">
            <%= link_to 'Friends', friends_index_path, class: 'nav-link sr-only text-white' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Profile', user_path(current_user.id), class: 'nav-link sr-only text-white' %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign out", destroy_user_session_path, class: 'nav-link sr-only text-white text-muted', method: :delete %>
        </li>
        <li class="nav-item">
          <% if current_user.image.attached? %>
            <%= image_tag(current_user.image, style: 'display: inline-block;
                                                        height: 50px;
                                                        width: 50px;
                                                        border-radius: 50%;
                                                        object-fit: cover;') %>
          <% else %>
              <i class="material-icons right">category</i>
        <% end %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

</body>
</html>
